.name{
    font-size: 20px;
    color: white;
}

.health{
    font-size: 20px;
    color : green;
}

.mana{
    font-size: 20px;
    color: dodgerblue;
	border: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    height: 100%;
    width: 50%;
}

.action_hero{
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.titre{
    position: fixed;
    top :0;
    right:0;
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 30%;
}

.stat{
    position: fixed;
    bottom: 0;
    right: 30px;
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 75%;
    height: 30%;
}

.action{
    position: static;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    height: 50%;
    width: 5%;
}

.health{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    height: 100%;
    width: 50%;
}

.name{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 100%;
    width: 50%;
}

.titre{
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 10%;
    color: white;
}

body {
    background-image: url("Images/Background.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.image_ennemi_1{
    display: flex;
    justify-content: center;
    position: static;
}

.image_ennemi_2{
    display: flex;
    justify-content: center;
    position: static;
}

.image_ennemi_3{
    display: flex;
    justify-content: center;
    position: static;
}

.stat_ennemi_1{
    visibility: hidden;
}

.stat_ennemi_2{
    visibility: hidden;
}

.stat_ennemi_3{
    visibility: hidden;
}


.nom_ennemi_1{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 5%;
    color: rgb(212, 8, 8);
}

.pv_ennemi_1{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 5%;
    color: rgb(146, 3, 3);
}

.nom_ennemi_2{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 5%;
    color: rgb(212, 8, 8);
}

.pv_ennemi_2{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 5%;
    color: rgb(146, 3, 3);
}

.nom_ennemi_3{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 5%;
    color: rgb(212, 8, 8);
}

.pv_ennemi_3{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 5%;
    color: rgb(146, 3, 3);
}

.image_hero_1{
    display: flex;
    position: static;
    justify-content: right;
    height: 100px;
    width: 100px;
}

.image_hero_2{
    display: flex;
    position: static;
    justify-content: right;
    height: 100px;
    width: 100px;
}

.image_hero_3{
    display: flex;
    position: static;
    justify-content: right;
    height: 100px;
    width: 100px;
}

.image_hero_4{
    display: flex;
    position: static;
    justify-content: right;
    height: 100px;
    width: 100px;
}

.Big_Box{

}